* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("img/hogwarts.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: "Crimson Text", sans-serif;
  display: grid;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
}

section {
  display: grid;
}

.resultados {
  grid-column: 2/3;
  grid-row: -1/-1;
}

.item-resultados {
  background-color: #e5dbbe;
  padding: 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
}

.item-resultados h2 {
  font-size: 2rem;
  color: #222;
}

.item-resultados p {
  font-size: 1.3rem;
  color: #222;
}

.item-resultados a {
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
}

.-item-resultados a:hover {
  text-decoration: underline;
}

.sem-resultados {
  font-size: 1.3rem;
  color: #222;
  background-color: #e5dbbe;
  padding: 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  width: fit-content;
  height: fit-content;
  align-self: center;
}

.pergunta {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  justify-items: center;
  align-self: center;
}

.pergunta h1 {
  grid-column: 1/4;
  font-size: 3rem;
  color: #f2f2f2;
  text-align: center;
  letter-spacing: 0.15rem;
  text-shadow: 3px 2px 7px rgba(0, 0, 0, 1.5);
}

.pergunta input {
  grid-column: 2/3;
  width: 18rem;
  border: none;
  padding: 1rem;
  border-radius: 1.5rem;
  margin-bottom: 0.7rem;
  box-sizing: border-box;
}

.pergunta button {
  grid-column: 2/3;
  align-self: center;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #c3d7d6;
  color: #222;
  cursor: pointer;
  width: fit-content;
}

.pergunta button:hover {
  background-color: #b9cdd6;
}

footer {
  color: #f2f2f2;
  text-align: center;
  display: grid;
  align-items: end;
  align-self: end;
  margin-bottom: 2rem;
}

@media (max-width: 1095px) {
  main {
    grid-template-columns: auto;
    grid-template-rows: 2fr;
  }
  .resultados {
    grid-column: -2/-1;
    place-content: center;
  }
  h1 {
    font-size: 2.7rem;
  }
  footer {
    padding-bottom: 2rem;
  }
}
