* {
  padding: 0;
  margin: 0;
}

html {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body {
  background-image: url("hogwarts.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Crimson Text", sans-serif;
  margin-top: 12rem;
  margin-left: 8rem;
}

h1 {
  font-size: 3rem;
  color: #f2f2f2;
  text-align: center;
  letter-spacing: 0.15rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

section input {
  width: 18rem;
  border: none;
  padding: 1rem;
  border-radius: 1.5rem;
  margin-bottom: 0.7rem;
  box-sizing: border-box;
}

section button {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #c3d7d6;
  color: #222;
  cursor: pointer;
}

footer {
  color: #f2f2f2;
  text-align: center;
}

@media (max-width: 1005px) {
  html {
    grid-template-columns: 1fr;
  }
  body {
    margin-top: 0;
    margin-left: 0;
    justify-content: end;
    margin-bottom: 5rem;
  }
}